body {
    background-color: #1D1B1B;
    color: #EC4D37;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #EC4D37;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #1D1B1B;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #FFF;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}

a:link {
    color: #FAB301;
    text-decoration: none;
}

a:visited {
    color: #FAB301;
    text-decoration: none;
}

a:hover {
    color: #FFF;
    text-decoration: none;
}

a:active {
    color: #FAB301;
    text-decoration: none;
}

table, th, td {
    border: 1px solid #EC4D37;
    border-collapse: collapse;
}

th {
    padding: 5px;
    text-align: left;
}

td {
    vertical-align: top;
}

#table1, #table2, {
    display: none;
}